<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Register">
    <parameter name="url"  value="https://parabank.parasoft.com/"/>
    <parameter name="ChromeBrowser"  value="chrome"/>
    <test name="TestOnChrome">
        <classes>
            <class name="tests.RegisterTest" />
        </classes>
    </test> <!-- SampleTestNG -->
</suite> <!-- DemoSuite -->